*{   
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.boy{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #555;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.lurenz{
    margin-left: 8%;
    margin-top: 13%;
}

.lurenz h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
}
.lurenz p{
    color: white;
    line-height: 22px;
}
.lurenz a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.logo{
    width: 200px;
    height: 120p;   
}

.pictures{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.hero{
    width: 500px;   
}

.color{
    background-color: #555;
}
.venu{
    width: 500px;
    height: 400px;
}

.minor{
    background-color:rosybrown
}

.minor p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 30px;
}

.baby{
    width: 200px;
    display: block;
    margin: 0px auto;
}

.edit h1{
    text-align: center;
    color: black;   
}

.forward p{
    text-align: center;
}